node_modules
dist/
out/
build/
.mypy_cache
.vscode-test
package-lock.json
*.vsix
*.cpuprofile
*.log
*.exe

test/C/
!test/C/src/main.c
test/Cpp/
!test/Cpp/src/main.cc
test/Cmake/
!test/Cpp/CMakeLists.txt
